.card {
  background-color: #eeeeee;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  animation-name: zoomIn;
  animation-duration: 0.5s;
  animation-fill-mode: both;

  &-light {
    background-color: #f7f7f7;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
  }
}

.dark {
  .card {
    background-color: #292d3e;
    &-light {
      background-color: #242424;
    }
  }
  .immutable-button {
    background-color: #3a3f54;
    border: 1px solid #3a3f54;
    &:hover {
      background-color: #35394a;
    }
  }
}

.operator {
  display: flex;
  justify-content: space-between;
}

.immutable-button {
  padding: 10px 20px;
  margin: 10px 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  cursor: pointer;
  &:hover {
    background-color: #f0f0f0;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
